body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#canvas-container {
    background-color: grey;
    border: solid grey 5px;
    overflow: hidden;
    position: relative;
    /*
        16:9 ratio
        84 * 16 / 9 = 149.33
    */
    max-width: 149.33vh;
    height: 84vh;
    width: 95%;
}

#canvas {
    background-color:white;
    border: solid red 5px;  
}

#speed-indicator {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    right: 0;
    bottom: 0;
}